name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
    - main
    - release-*

permissions:
  contents: read

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: setup-go
        name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - id: run-test
        name: Run tests
        run: make test

      - id: upload-codecov-report
        name: Upload codecov coverage reports
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  run-linters:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write # Used to create checks (linting comments) on PRs

    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: setup-go
        name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - id: cache-golangci-lint
        name: Cache golangci-lint
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            hack/bin/golangci-lint
            hack/bin/golangci-lint-*
          key: ${{ runner.os }}-golangci-lint-${{ hashFiles('hack/tools/go.mod') }}

      - id: setup-golangci-lint
        name: Install golangci-lint (if cache not found)
        if: steps.cache-golangci-lint.outputs.cache-hit != 'true'
        run: make install-golangci-lint

      - id: run-linter
        name: Run linter
        env:
          GO_LINT_ERROR_FORMAT: github-actions
        run: make lint

  run-build:
    runs-on: ubuntu-latest

    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: setup-go
        name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - id: run-build
        name: Run build
        run: make build
